@font-face {
  font-family: 'Fixedsys';
  font-style: normal;
  font-weight: 400;
  src: url(../../font/FSEX300.ttf);
}

.ylpn-welcome {
    height: 228px;
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -114px;
}

.ylpn-welcome .welcome-title {
    font-size: 94px;
    font-family: Fixedsys, Helvetica Neue, Helvetica, SourceCodePro, Roboto, "Hiragino Sans GB", "STHeiti", sans-serif;
    height: 114px;
    line-height: 114px;
    text-shadow: 5px 5px 5px black;
}
.ylpn-welcome .welcome-title .interval-hide {
    visibility: hidden;
}
.ylpn-welcome .welcome-title .title-top {
    color: #ee4000;
}
.ylpn-welcome .welcome-title .title-bottom {
    color: #4682b4;
}